%button {
	@extend %reset-btn;
	padding: .5em 1em;
	display: inline-flex;
	flex: 0 0 auto;
	max-width: 100%;
	font-size: inherit;
	text-align: center;
	position: relative;
	align-items: center;
	justify-content: center;
	transition: $transition-base;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1;
	min-height: em(68);
	min-width: em(200);
	font-weight: 400;
	border-radius: 0;
	text-decoration: none;
}



.btn {
	@extend %button;

	&_main {
		color: var(--color-bg);
		background-color: var(--color-main);
		&:hover {
			background-color: darken(#bc4cc6, 10%);
		}
	}
	&_transparent {
		color: var(--color-main);
		background-color: var(--color-bg);
		border: 1px solid ;
		&:hover {
			color: var(--color-bg);
			background-color: var(--color-main);
		}
	}
	.icon-search{
		width: 1em;
		height: 1em;
		margin-right: 0.5em;
	}
	.icon-arrow{
		width: 2em;
		height: 1em;
		margin-left: 0.5em;
	}

	&_disabled {
		background-color: var(--color-border_dark);
		color: var(--color-bg);
		&:hover {
			cursor: not-allowed;
		}
	}

	&.btn_twoLine{
		white-space: normal;
		line-height: 1.4;
		text-wrap: balance;
	}
}

