%button {
	@extend %reset-btn;
	padding: .5em 1em;
	display: inline-flex;
	flex: 0 0 auto;
	max-width: 100%;
	font-size: inherit;
	text-align: center;
	position: relative;
	align-items: center;
	justify-content: center;
	transition: $transition-base;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1;
	min-height: em(68);
	min-width: em(200);
	font-weight: 400;
	border-radius: 0;
	text-decoration: none;
}



.btn {
	@extend %button;

	&_main {
		color: var(--color-bg);
		background-color: var(--color-main);

		@media (hover : hover) {
			&:hover {
				background-color: darken(#bc4cc6, 10%);
			}
		}
	}

	&_transparent {
		color: var(--color-main);
		background-color: var(--color-bg);
		border: 1px solid;

		@media (hover : hover) {
			&:hover {
				color: var(--color-bg);
				background-color: var(--color-main);
			}
		}
	}

	&_checkbox {
		position: relative;

		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;

			&:checked~.text {
				&::after {
					opacity: 1;
				}

				&::before {
					background-color: var(--color-main);
				}
			}
		}

		.text {
			padding-left: 1.83em;
			position: relative;

			&::before {
				content: '';
				width: 1em;
				height: 1em;
				position: absolute;
				background-color: var(--color-bg);
				border: 1px solid var(--color-main);
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&::after {
				content: '';
				width: 1em;
				height: 1em;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9' viewBox='0 0 11 9' fill='none'%3E%3Cpath d='M9.54531 0L11 1.58514L4.19518 9L0 4.42884L1.45469 2.84369L4.19518 5.82976L9.54531 0Z' fill='white'/%3E%3C/svg%3E");
				background-size: 60%;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				transition: $transition-base;
				opacity: 0;
			}
		}
	}

	.icon-play_filled,
	.icon-search {
		width: 1em;
		height: 1em;
		margin-right: 0.5em;
	}

	.icon-arrow {
		width: 2em;
		height: 1em;
		margin-left: 0.5em;
	}

	&_disabled {
		background-color: var(--color-border_dark);
		color: var(--color-bg);

		&:hover {
			cursor: not-allowed;
		}
	}

	&.btn_twoLine {
		white-space: normal;
		line-height: 1.4;
		text-wrap: balance;
	}

	&_gray {
		background-color: var(--color-btn-gray);

		&:hover {
			background-color: var(--color-btn-gray-hover);
		}
	}
}
