@import "./lib/nice-select2/css/nice-select2.css";


.customSelect:not(:has(.nice-select-dropdown)) {
    display: none;
}
.nice-select-dropdown{
	.list{
		padding: 0px 1em;
	}
	//custom checkbox
	.option{
		position: relative;
		overflow: hidden;
		display: block;
		text-overflow: ellipsis;
		padding-inline: 0.5em;
		.custom-select_multiple &{
			padding-left: 2em;
			&:before{
				content: "";
				position: absolute;
				top: 50%;
				left: 0.3em;
				transform: translateY(-50%);
				width: var(--checkbox-size);
				height: var(--checkbox-size);
				border: 1px solid var(--middle-grey, #D2D2D2);
			}

			&.selected{
				&:before{
					background-color: var(--color-main);
					border-color: var(--color-main);
				}
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0.3em;
					width: var(--checkbox-size);
					height: var(--checkbox-size);
					background-size: cover;
					background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.06336 9.88441C6.987 9.95861 6.8828 10 6.77458 10C6.66635 10 6.56215 9.95861 6.48579 9.88441L4.17951 7.65643C3.94016 7.42526 3.94016 7.05038 4.17951 6.81964L4.46829 6.54064C4.70771 6.30946 5.09537 6.30946 5.33471 6.54064L6.77459 7.93146L10.6653 4.17338C10.9047 3.94221 11.2928 3.94221 11.5317 4.17338L11.8205 4.45239C12.0598 4.68356 12.0598 5.05837 11.8205 5.28918L7.06336 9.88441Z' fill='white'/%3E%3C/svg%3E");
				}
			}
		}
	}
}

.nice-select{
	&.custom-select_placeholder .current,
	&.custom-select_placeholder .multiple-options{
		color: var(--color-gray);
	}
	&.custom-select_hide-first{
		.list{
			.option:first-child{
				display: none;
			}
		}
	}
}
