//component setting
//all


$global_font-size: 1.9rem;

//lines
$lines_margin-bottom: 3.2rem;

//field
$field_part-padding: .3em;
$field_font-size: $global_font-size;

$field_border-color: transparent;
$field_border-color--error: rgb(223, 0, 0);

$field_error-color: rgb(223, 0, 0);



@mixin field_autofill($color) {

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		border-color: $color;
		-webkit-text-fill-color: $color;
		// -webkit-box-shadow: 0 0 0px 1000px rgba(#000,.01) inset;
		transition: background-color 5000s ease-in-out 0s;
	}
}

@mixin field_focus() {
	&:focus,
	&:focus-within {
		box-shadow: inset 0 0 4px -1px var(--color-main);
		outline: none;
	}
}



.form {
	font-size: $global_font-size;

	&__line {
		margin-bottom: $lines_margin-bottom;
		display: flex;
		width: 100%;

		&>.form__line {
			@extend .form__field;
			margin-bottom: 0;
		}
	}
	&__label{
		color: var(--color-gray);
		display: block;
		font-size: 70%;
		letter-spacing: .1em;
		line-height: 1.4;
		text-transform: uppercase;
		flex: 1 1 100%;
		order: -1;
	}
	&__field {
		flex: 1 1 100%;
		max-width: 100%;
		position: relative;
		padding-left: $field_part-padding;
		padding-right: $field_part-padding;
		display: flex;
		flex-flow: row wrap;
		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&.half {
			flex: 1 1 50%;
			max-width: 50%;
		}

		&.one-of-three {
			flex: 1 1 33.33%;
			max-width: 33.33%;
		}

		&.two-of-three {
			flex: 1 1 66.666%;
			max-width: 66.666%;
		}

		&.one-of-four {
			flex: 1 1 25%;
			max-width: 25%;
		}

		&.three-of-four {
			flex: 1 1 75%;
			max-width: 75%;
		}

		input,
		select,
		textarea {
			border: 0;
			border-radius: 0;
			float: none;
			font-size: inherit;
			height: auto;
			line-height: 1;
			padding: 1.1em 1em;
			font-size: 80%;
			max-width: 100%;
			width: 100%;
			&:focus{
				box-shadow: inset 0 0 4px -1px var(--color-main);
				outline: none;
			}
			&.input-error {
				border-color: $field_border-color--error;
			}

			@include placeholder {
				color: currentColor;
				opacity: .9;
			}

			@include field_focus();
			@include field_autofill(var(--color-text));


			&:invalid {
				border-color: $field_border-color--error;
				background-color: rgba($field_border-color--error, .1);
			}

			&:focus:invalid {
				outline: none;
			}


		}
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		textarea {
			resize: vertical;
			min-height: 14rem;
		}


	}

	&__accepted {
		margin-top: 3rem;
		display: block;
	}

	&__checkbox {
		position: relative;
		font-size: var(--smSize);
		display: flex;

		&:hover {
			cursor: pointer;
		}

		input {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;

			&:checked~.pseudo {
				&::after {
					opacity: 1;
				}
			}
		}

		.pseudo {
			margin-top: 0.2em;
			margin-right: 1em;
			width: 1.1em;
			height: 1.1em;
			border: 1px solid;
			position: relative;

			&::after {
				content: '';
				width: .7em;
				height: .7em;
				background-color: currentColor;
				@include abs-center();
				transition: $transition-base;
				opacity: 0;
			}
		}

		.text {
			flex: 1;

			p {
				margin-top: 0;
			}

			a {
				color: currentColor;

				&:hover {
					text-decoration: none;
				}
			}
		}

	}

	.error {
		position: absolute;
		top: 100%;
		padding: 0.3em 0 .1em;
		font-size: 75%;
		display: inline-block;
		width: auto;
		line-height: 1.2;
		color: $field_error-color;
		flex: 1 1 100%;
	}

	&__radio {
		@extend .form__checkbox;

		.pseudo {
			margin-top: 0.1em;
			border-radius: 50%;

			&::after {
				border-radius: 50%;
				height: calc(100% - 3px);
			}
		}
	}

	.btn{
		padding: 0.7em;
	}

	.hidden {
		display: none !important;
	}


	.form-loader{
		align-items: center;
		justify-content: center;
		padding-bottom: 14rem;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		text-align: center;
		display: none;
		@include rmin(768){
			background-color: rgba(255,255,255,.3);
		}
		img{
			max-height: 100%;
			max-width: 30rem;
		}
	}

	&.is-sending{
		.form__line{
			filter: blur(2px);
			pointer-events: none;

		}

		.form-loader{
			display: flex;
		}
	}
}


.info-tool {
    position: fixed;
	top: 3rem;
	right: 3rem;
	bottom: auto;
	left: auto;
	font-size: 1.7rem;
    line-height: 1.3;
    text-wrap: balance;
	background-color: var(--color-bg_gray);
	box-shadow: 0 4px 35px 0 rgba(0,0,0,.05);
	border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 1em;
    opacity: 0;
    transform: translateY(.6em);
    z-index: 999;
    justify-content: flex-start;
    min-height: 1px;
    padding: .8em 2.5em .8em 1.5em;
	max-width: mIn(calc(100% - 2rem), 63rem);

    @include r(1023) {
        font-size: 16px;
    }
	@include r(767){
		width: calc(100% - 2rem);
		top: 1rem;
		right: 1rem;
	}

    p {
        margin: 0;
    }

    &_success {
        color: #00a346;
    }

    &_error {
        color: $field_error-color;
    }

    .close {
        @extend %reset-btn;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 10px;
    }

    &.start-animation {
        transition: all $transition-base;

        &.is-animating {
            opacity: 1;
            transform: none;
        }
    }


}




