.header {
	font-size: rem(18, 10);
	background-color: var(--color-bg);
	color: var(--color-text);
	// border-bottom: 1px solid rgba(255,255,255,.2);
	box-shadow: 0px 15px 15px 0px rgba(12, 11, 13, 0.03);

	&.header_transparent {
		box-shadow: none;
		background: linear-gradient(to bottom,
				hsl(0, 0%, 100%) 0%,
				hsla(0, 0%, 100%, 1) 1%,
				hsla(0, 0%, 100%, 0.991) 8.6%,
				hsla(0, 0%, 100%, 0.965) 17.5%,
				hsla(0, 0%, 100%, 0.925) 26.5%,
				hsla(0, 0%, 100%, 0.872) 35.6%,
				hsla(0, 0%, 100%, 0.807) 44.6%,
				hsla(0, 0%, 100%, 0.734) 53.3%,
				hsla(0, 0%, 100%, 0.654) 61.7%,
				hsla(0, 0%, 100%, 0.57) 69.6%,
				hsla(0, 0%, 100%, 0.482) 76.9%,
				hsla(0, 0%, 100%, 0.393) 83.4%,
				hsla(0, 0%, 100%, 0.304) 89%,
				hsla(0, 0%, 100%, 0.219) 93.6%,
				hsla(0, 0%, 100%, 0.139) 97.1%,
				hsla(0, 0%, 100%, 0.065) 99.2%,
				hsla(0, 0%, 100%, 0) 100%);
		transition: background-size .4s ease-in, box-shadow cubic-bezier(0.55, 0.055, 0.675, 0.19);
		background-size: 100% 100%;

		&.bg-visible {
			background-size: 100% 1000%;
			box-shadow: 0px 15px 15px 0px rgba(12, 11, 13, 0.03);
		}
	}

	&_folklore {
		// .header__container {
		// 	@extend .container_old;

		// }

		&-transparent {
			background: linear-gradient(to bottom,
					hsl(0, 0%, 100%) 0%,
					hsla(0, 0%, 100%, 1) 1%,
					hsla(0, 0%, 100%, 0.991) 8.6%,
					hsla(0, 0%, 100%, 0.965) 17.5%,
					hsla(0, 0%, 100%, 0.925) 26.5%,
					hsla(0, 0%, 100%, 0.872) 35.6%,
					hsla(0, 0%, 100%, 0.807) 44.6%,
					hsla(0, 0%, 100%, 0.734) 53.3%,
					hsla(0, 0%, 100%, 0.654) 61.7%,
					hsla(0, 0%, 100%, 0.57) 69.6%,
					hsla(0, 0%, 100%, 0.482) 76.9%,
					hsla(0, 0%, 100%, 0.393) 83.4%,
					hsla(0, 0%, 100%, 0.304) 89%,
					hsla(0, 0%, 100%, 0.219) 93.6%,
					hsla(0, 0%, 100%, 0.139) 97.1%,
					hsla(0, 0%, 100%, 0.065) 99.2%,
					hsla(0, 0%, 100%, 0) 100%);
			background-size: 100% 100%;
			box-shadow: none;
			transition: background-size .4s ease-in, background-color .4s ease-in, box-shadow cubic-bezier(0.55, 0.055, 0.675, 0.19);

			&:has(.is-open) {
				background-color: var(--color-bg);
				color: var(--color-text);
				box-shadow: 0px 15px 15px 0px rgba(12, 11, 13, 0.03);
			}

			&.bg-visible {
				background-size: 100% 1000%;
				box-shadow: 0px 15px 15px 0px rgba(12, 11, 13, 0.03);
			}

			@media (hover) {
				&:hover {
					background-color: var(--color-bg);
					color: var(--color-text);
					box-shadow: 0px 15px 15px 0px rgba(12, 11, 13, 0.03);
				}

			}
		}
	}


	@include r($menuMob - 1) {
		.menu-open & {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: var(--color-bg);
				box-shadow: 0px 0 0 1px var(--color-border);
				z-index: 10;
			}
		}
	}

	&__container {
		margin: 0 auto;
		padding: 1em clamp(1em, 4vw, 4.5em);
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__nav {
		@include rmin($menuMob) {
			margin-left: auto;
		}

		@include r($menuMob - 1) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 9;
			display: none;
			overflow: hidden;

			.menu-open & {
				display: block;

				&::before {
					animation: show 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
				}
			}

			&::before {
				content: '';
				position: absolute;
				background-color: var(--color-bg);
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				pointer-events: none;
				opacity: 0;
			}
		}
	}
}

.logo-site {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .03em;
	font-size: 29px;
	line-height: 1;
	display: inline-flex;
	height: 6rem;

	@include r($menuMob - 1) {
		height: 4rem;
	}

	.header_folklore & {
		display: block;
		position: relative;
		width: 20rem;
		transform: scale(1.1);

		.logo-folklore {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: auto;
		}

		@include r($menuMob - 1) {
			height: 4rem;
		}
	}

	// img[width]{
	// 	height: 3rem;
	// }
	.logo-inner {
		display: flex;
		align-items: center;
		font-weight: 800;
		letter-spacing: .08em;
	}

	.logo-text {
		padding-left: 0.3em;

		span {
			margin-right: 0.3em;
		}
	}

	@include r($menuMob - 1) {
		position: relative;
		z-index: 10;
	}
}



.nav {
	&.nav-header {
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;

		@include r($menuMob - 1) {
			display: block;
			text-align: left;
			padding: 8rem 0 0;
			font-size: 2.5vmax;
			max-height: 100%;
			overflow-y: auto;

			&>li {
				border-bottom: 1px solid var(--color-border);
				display: flex;
				flex-flow: row wrap;
				position: relative;

				&>a {
					font-weight: 400;
				}
			}
		}

		@include rmin($menuMob) {
			>li+li {
				margin-left: .8em;
			}
		}
	}

	&__link {
		text-decoration: none;
		white-space: nowrap;
		line-height: 2em;
		display: inline-block;
		padding: 0 0.8em;
		border-radius: 0;
		font-weight: 500;
		transition: color $transition-base;
		border: none;
		background-color: transparent;

		@include r($menuMob - 1) {
			color: var(--color-text);
			text-align: left;
			width: 100%;
			display: block;
			line-height: 2.5em;
			flex: 1 1 calc(100% - 9rem);
			max-width: calc(100% - 9rem);
			// &.is-active{
			// 	background-color: var(--color-bg_dark);
			// 	font-weight: 800;
			// 	color: var(--color-main);
			// }

		}

		@include rmin($menuMob) {

			white-space: normal;
			line-height: 1.4;

			&:hover {
				// background-color: var(--color-bg_dark);
				text-decoration: none;
				color: var(--color-main);
			}

			&.is-active {
				font-weight: 800;
				background-color: var(--color-bg);
				color: var(--color-main);
			}

			.menu-item-has-children>& {
				padding-right: 2em;

				&::before {
					content: '';
					position: absolute;
					width: 1em;
					height: 1em;
					right: .5em;
					top: 50%;
					margin-top: -0.5em;
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' fill='%23401C5C'%3E%3C/path%3E%3C/svg%3E");
					transition: transform .23s ease-in-out;
				}
			}
		}
	}

	li {
		@extend %reset-list;
		@extend %show;
	}
}


.header__trigger {
	position: relative;
	margin-right: 10px;
	margin-left: 20px;
	z-index: 11;
	width: 14px;
	height: 16px;
	color: currentColor;
	display: flex;
	align-items: center;
	pointer-events: all;

	@include r($menuMob - 1) {
		color: var(--color-text);
		// .header_transparent &{
		// }
	}

	&::before {
		content: '';
		position: absolute;
		width: calc(100% + 20px);
		height: calc(100% + 20px);
		top: -10px;
		left: -10px;
		background: transparent;
	}

	@include rmin($menuMob) {
		display: none;
	}

	span {
		margin-left: auto;
		display: block;
		width: 100%;
		height: 2px;
		background-color: currentColor;
		position: relative;
		transition: transform $transition-base;
		border-radius: 5px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 21px;
			height: 100%;
			left: 0;
			background-color: currentColor;
			transition: inherit;
			border-radius: inherit;
		}

		&::before {
			top: -7px;
			transform-origin: 100% 35%;
		}

		&::after {
			bottom: -7px;
			transform-origin: 100% 65%;
		}

		.menu-open & {
			background-color: transparent;

			&::before {
				transform: rotate(-45deg);
				background-color: var(--color-text);
			}

			&::after {
				transform: rotate(45deg);
				background-color: var(--color-text);
			}
		}
	}
}




%show {
	@include r($menuMob - 1) {
		opacity: 0;

		.menu-open & {
			animation: slide 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
		}

		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				animation-delay: .2s + ($i * .1s);
			}
		}
	}

}

@keyframes slide {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



/*theme menu fix*/
.menu-item {
	.sub-menu-toggle {
		display: none !important;
	}

	&.menu-item-has-children {
		@include rmin($menuMob) {
			&>.nav__link {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					width: 120%;
					height: 80px;
					left: -10%;
					clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
				}
			}

			&.is-magic-triangle {
				&>.nav__link {
					&::after {
						position: fixed;
						width: 100%;
						height: 6rem;
						left: 0;
						right: 0;
						// background-color: rgba(150,150,23,.6);
						clip-path: polygon(var(--ls) 0%, var(--le) 0%, calc(var(--le) + 2%) 50%, 100% 100%, 0% 100%);
					}
				}
			}

			&.is-open {
				.sub-menu {
					opacity: 1;
					pointer-events: auto;
					transform: translateY(0);
					box-shadow: 0px 15px 15px 0px rgba(12, 11, 13, 0.03);
				}
			}

		}

		@include r($menuMob - 1) {
			transition: .23s background-color;

			&::after {
				margin-left: auto;
				content: '';
				order: 1;
				width: 6rem;
				height: 3em;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 40%;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' fill='%23401C5C'%3E%3C/path%3E%3C/svg%3E");
				transition: transform .23s ease-in-out;
			}

			.sub-menu {

				opacity: 1;
				transform: translateY(0);
				max-height: 0;
				overflow: hidden;
				pointer-events: none;

				.nav__link {
					line-height: 2.5em;
				}
			}

			&.is-open {
				background-color: var(--color-border);

				.sub-menu {
					opacity: 1;
					border-top: 2px solid var(--color-border);
					max-height: 1000px;
					transform: none;
					pointer-events: auto;
					padding-bottom: 0.5em;
				}

				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}

	.nav-header>& {

		&:last-of-type {
			color: var(--color-main);
			border: 1px solid;
			transition: color .23s, border-color .23s;

			.nav__link {
				font-weight: 600;
			}

			@media (hover) {
				&:hover {
					color: var(--color-bg);
					background-color: var(--color-main);

					.nav__link {
						color: var(--color-bg);
					}
				}

			}

			@include r($menuMob - 1) {
				border-bottom-width: 1px;
				border-bottom-color: inherit;
			}
		}
	}

	.sub-menu {
		@extend %reset-list;
		width: 100%;

		@include rmin($menuMob) {
			position: absolute;
			display: flex;
			background-color: var(--color-bg);
			color: var(--color-text);
			opacity: 0;
			pointer-events: none;
			transform: translateX(20%);
			transition: .23s ease-in;
			height: 100vh;
			width: 33rem;
			right: 0;
			left: auto;
			top: 0;
			z-index: -1;
			padding: 12rem 1rem 4rem;
			flex-flow: row wrap;
			align-items: flex-start;
			align-content: flex-start;
		}

		.menu-item {
			@include rmin($menuMob) {
				flex: 1 1 100%;
				max-width: 100%;
				margin-bottom: 0.5em;
			}
		}

		//
		.nav__link {
			@include rmin($menuMob) {
				width: 100%;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		@include r($menuMob - 1) {
			padding: 0 0.8em;
			order: 2;
			display: block;
			line-height: 3em;

			.nav__link {
				text-align: left;
				padding-left: 0;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.menu-item {
				font-size: 70%;
				margin-bottom: 0;
			}
		}
	}
}

@include r($menuMob - 1) {
	.menu-item-has-children.is-open~.menu-item-has-children.is-open {
		box-shadow: inset 0 2px 2px var(--color-bg);
	}

	.current_page_item>.nav__link {
		color: var(--color-main_light);
	}
}



.lang-switcher {
	display: inline-flex;
	margin-left: auto;
	position: relative;
	z-index: 10;

	@include rmin(768) {
		order: 10;
		margin-left: 3rem;

	}

	&__label {
		width: 6.5rem;
		padding: 0 0.5rem;
		height: 3rem;
		border-radius: 1.5rem;
		background-color: var(--color-bg_gray);
		position: relative;
		display: flex;
		font-size: 1.6rem;
		text-transform: uppercase;
		color: var(--color-text);
		border: 1px solid var(--color-gray);
		align-items: center;
		font-weight: 600;

		@media (hover:hover) {
			&:hover {
				cursor: pointer;
			}
		}

		&::after {
			content: "";
			border-radius: 50%;
			content: "";
			height: 2.3rem;
			left: .7rem;
			position: absolute;
			top: .2rem;
			width: 2.3rem;
			background-image: url('data:image/svg+xml,<svg width="1600" height="1600" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path fill="%23fff" d="M0 0h1600v1600H0z"/><g clip-path="url(%23b)"><path d="M1809 0H0v800h1809V0Z" fill="%230057B7"/><path d="M1809 400H0v400h1809V400Z" fill="gold"/></g><g clip-path="url(%23c)"><path d="M0 800h1649v800H0" fill="%23B31942"/><path d="M0 892.309h1649Zm1649 123.081H0ZM0 1138.46h1649Zm1649 123.08H0ZM0 1384.62h1649Zm1649 123.07H0Z" fill="%23000"/><path d="M0 892.309h1649m0 123.081H0m0 123.07h1649m0 123.08H0m0 123.08h1649m0 123.07H0" stroke="%23fff" stroke-width="50"/><path d="M0 800h659.6v430.77H0" fill="%230A3161"/><path d="m54.9668 818.461 15.6965 44.53-41.094-27.521h50.7949l-41.0939 27.521 15.6965-44.53Zm0 86.152 15.6965 44.53-41.094-27.521h50.7949l-41.0939 27.521 15.6965-44.53Zm0 86.157 15.6965 44.53-41.094-27.52h50.7949l-41.0939 27.52 15.6965-44.53Zm0 86.15 15.6965 44.53-41.094-27.52h50.7949l-41.0939 27.52 15.6965-44.53Zm0 86.16 15.6965 44.53-41.094-27.52h50.7949l-41.0939 27.52 15.6965-44.53Zm54.9672-301.541 15.696 44.53-41.0939-27.521h50.7949l-41.0939 27.521 15.6969-44.53Zm0 86.152 15.696 44.53L84.5361 964.7h50.7949l-41.0939 27.521 15.6969-44.53Zm0 86.159 15.696 44.53-41.0939-27.52h50.7949l-41.0939 27.52 15.6969-44.53Zm0 86.15 15.696 44.53-41.0939-27.52h50.7949l-41.0939 27.52L109.934 1120ZM164.9 818.461l15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.152 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.157 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.15 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.16 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm54.967-301.541 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.152 15.697 44.53L194.47 964.7h50.795l-41.094 27.521 15.696-44.53Zm0 86.159 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.15 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm54.966-301.539 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.152 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.157 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.15 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.16 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53ZM329.8 861.539l15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.152 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.159 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.15 15.697 44.53-41.094-27.52h50.795l-41.094 27.52L329.8 1120Zm54.967-301.539 15.696 44.53-41.094-27.521h50.795l-41.094 27.521 15.697-44.53Zm0 86.152 15.696 44.53-41.094-27.521h50.795l-41.094 27.521 15.697-44.53Zm0 86.157 15.696 44.53-41.094-27.52h50.795l-41.094 27.52 15.697-44.53Zm0 86.15 15.696 44.53-41.094-27.52h50.795l-41.094 27.52 15.697-44.53Zm0 86.16 15.696 44.53-41.094-27.52h50.795l-41.094 27.52 15.697-44.53Zm54.966-301.541 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.152 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.159 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.15 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53ZM494.7 818.461l15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.152 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.157 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.15 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.16 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm54.967-301.541 15.696 44.53-41.093-27.521h50.794l-41.094 27.521 15.697-44.53Zm0 86.152 15.696 44.53L524.27 964.7h50.794l-41.094 27.521 15.697-44.53Zm0 86.159 15.696 44.53-41.093-27.52h50.794l-41.094 27.52 15.697-44.53Zm0 86.15 15.696 44.53-41.093-27.52h50.794l-41.094 27.52 15.697-44.53Zm54.966-301.539 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.152 15.697 44.53-41.094-27.521h50.795l-41.094 27.521 15.696-44.53Zm0 86.157 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.15 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Zm0 86.16 15.697 44.53-41.094-27.52h50.795l-41.094 27.52 15.696-44.53Z" fill="%23fff"/></g></g><defs><clipPath id="a"><path fill="%23fff" d="M0 0h1600v1600H0z"/></clipPath><clipPath id="b"><path fill="%23fff" d="M0 0h1809v800H0z"/></clipPath><clipPath id="c"><path fill="%23fff" transform="translate(0 800)" d="M0 0h1649v800H0z"/></clipPath></defs></svg>');
			background-size: 100% 200%;
			transition: transform .3s, background-position .3s;
			transform: translateX(119%);
			background-position: 0 100%;

		}
	}

	span {
		flex: 1;
		text-align: center;
	}

	input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:checked+label {

			&::after {
				transform: translateX(0);
				background-position: 0 0%;
			}
		}

	}
}
