/*main page*/
.main-sections{
	margin-bottom: 4rem;
}
.mainPage{
	&_1{
		@include r(1023){
			.mainPage__container{
				display: grid;
				grid-template: 1fr / 1fr;
				min-height: 100dvh;
			}
			.mainPage__content{
				padding-top: 14rem;
				padding-bottom: 5rem;
				grid-row: 1/-1;
				grid-column: 1/-1;
				z-index: 2;
				position: relative;
				// color: white;
			}
			.mainPage__image{
				grid-row: 1/-1;
				grid-column: 1/-1;
				.img-shadow{
					position: relative;
					&::before{
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgb(159,211,255);
						background: radial-gradient(circle, rgba(159,211,255,1) 0%, rgba(216,236,251,1) 78%, rgba(219,237,249,1) 100%);
						// background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,0.38699229691876746) 55%, rgba(0,212,255,0) 100%);
						opacity: .6;
					}
				}
			}
		}
		@include r(767){
			.mainPage__content,
			.mainPage__image{
				display: flex;
				height: 100%;
			}
			.mainPage__content{
				flex-flow: column wrap;
			}
			.mainPage__title{
				margin-top: auto;
			}
			.mainPage__text{
				margin-bottom: 4rem;
			}
			.img-shadow{
				height: 100%;
				width: 100%;
				position: relative;
				img{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					object-fit: cover;
					opacity: .2;
				}
			}
		}
	}
	&_2{
		@include r(1023){
			.mainPage__content{
				order: -1;
				padding-bottom: 0;
			}
			.mainPage__links{
				max-width: 100%;
			}
		}
		@include r(767){
			.mainPage__links{
				gap: 2rem;
				li{
					padding: 3rem;
				}
				.text{
					font-size: 2rem;
					line-height: 1.3;
				}
			}
		}
	}
	&_3{
		@include r(1023){
			.mainPage__content{
				padding-bottom: 0;
			}
		}
		@include r(767){
			.mainPage__content{
				padding-top: 0;
			}
		}
	}
	&_4{
		@include r(1023){
			.mainPage__content{
				padding-top: 0;
				order: -1;
			}
		}
		@include r(767){
			.map{
				aspect-ratio: 9/16;
			}
		}
	}
	&__container{
		display: flex;
		align-items: center;
		@include r(1023){
			flex-wrap: wrap;
		}
	}
	&__content{
		padding: 8rem;
		@include r(767){
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 1em;
		}
	}
	&__content,
	&__image{
		flex: 1 1 50%;
		max-width: 50%;
		@include r(1023){
			flex: 1 1 100%;
			max-width: 100%;
		}
	}

	&__links{
		@extend %reset-list;
		margin-top: 4rem;
		display: grid;
		max-width: 65rem;
		gap: 3rem;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		text-align: center;
		li{
			padding: 4rem;
			border: 1px solid var(--color-border);
			background-color: var(--color-bg);
			color: var(--color-main);
			transition: background-color $transition-base, color $transition-base;
			@media (hover: hover) {
				&:hover{
					background-color: var(--color-main);
					color: var(--color-bg);
				}
			}
		}
		a{
			text-decoration: none;
			font-size: 136%;
		}
		.svg-icon{
			width: 8rem;
			height: 8rem;
			margin-bottom: 1rem;
		}
		.icon-event,
		.icon-rubric{
			fill: none;
			stroke: currentColor;
		}
	}
	.storyPreview{
		&__title{
			font-weight: 100;
		}
		&__place{
			font-weight: 700;
			.svg-icon{
				display: inline-flex;
				width: 1em;
				height: 1em;
				margin-right: .5em;
				opacity: .5;
				vertical-align: text-top;
			}
		}
		&__teller{
			font-size: 90%;
			color: var(--color-gray);
		}
		&__text{
			max-width: 50rem;
			padding: 0 1em 1em 2em;
			position: relative;
		}
		&__icon{
			position: absolute;
			top: 0;
			left: 0;
			.svg-icon{
				aspect-ratio: 117/96;
				width: 7em;
			}
		}
	}


	.btn{
		text-transform: uppercase;
		padding: 1.25em 1.5em;
		letter-spacing: .06em;
		font-family: $title-font;
		font-weight: 300;
	}
	@include r(767){
		min-height: 100dvh;
		.btn{
			width: 100%;
		}
	}


}


/*end main page*/

/*page story*/
.intro {
	--gap-x: 5rem;
	--gap-y: 3rem;
	--content-size: 100%;
	--text-trunk: 3;
	min-height: 50rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2.5rem;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: inherit;
		background-size: cover;
	}

	&__content {
		padding: var(--gap-y) var(--gap-x);
		position: relative;
		z-index: 1;
		max-width: 100%;

		@include rmin(1023) {
			&_left {
				margin-right: auto;
			}

			&_bottom {
				margin-top: auto;
			}
		}

		@include rmin(768) {
			max-width: var(--content-size);
		}
	}

	&__title {
		@include r(1023) {
			text-align: center;
			text-wrap: balance;
		}
	}

	&__content {
		color: var(--color-bg);
	}

	&__text {
		p:first-child {
			margin-top: 0;
		}

		@include trunk(var(--text-trunk));
	}
}


.comparing-block {
	&__link {
		text-decoration: none;
	}

	&__title {
		align-items: center;
		display: flex;
		color: var(--color-text);

		.svg-icon {
			width: 1em;
			height: 1em;
			display: inline-flex;
			align-items: center;
			flex-shrink: 0;
			margin-inline-end: 0.5em;
		}
	}

	&__pseudo {
		color: var(--color-main);
	}
}



.page-title {
	margin-bottom: 3rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&__back {
		display: flex;
		width: 3em;
		height: 1em;
		margin-right: .5em;
	}

	h1 {
		margin: 0;
		flex: 1;

		@include r(1023) {
			flex: 1 1 100%;
		}
	}
}

.history {
	margin-bottom: 7rem;

	&__container {
		display: flex;

		@include r(1023) {
			flex-wrap: wrap;
		}
	}

	&__left {
		flex: 1;

		@include rmin(1024) {
			padding-right: mIn(4vw, 8rem);
		}

		@include r(1023) {
			flex: 1 1 100%;
		}
	}

	&__right {
		flex: 0 0 clamp(48rem, 30vw, 60rem);

		@include r(1023) {
			flex: 1 1 100%;
			margin-top: 3rem;
		}
	}
}

.hs {
	background-color: var(--color-bg_gray);

	&__inner {
		padding: 3rem;
	}

	&__table {
		text-align: left;
		.svg-icon,
		a{
			color: var(--color-main);
		}
		.svg-icon {
			width: 1em;
			height: 1em;
			cursor: pointer;
		}

		th,
		td {
			padding: .2em .8em;
		}
	}
}

.map {
	position: relative;
	margin-bottom: 3rem;

	&::before {
		content: '';
		display: block;
		width: 100%;
		padding-top: 80%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}
}

.hs-audio {
	margin-bottom: 3rem;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;

	li {
		position: relative;

		&:not(:last-child) {
			margin-right: .8em;
			display: flex;

			&::after {
				content: '/';
				opacity: .3;
				display: inline-block;
				margin-left: .8em;
			}
		}
		& > span{
			opacity: .6;
		}
	}
	a{
		text-decoration: none;
		.tooltipster-box &{
			text-decoration: underline;
			color: var(--color-main);
			&:hover{
				text-decoration: none;
			}
		}
	}
	&__wrapper{
		& ~ h1,
		& ~ .h1{
			margin-top: 0;
		}
	}
}


.hs-disclaimer {
	background-color: var(--color-bg_gray);
	font-size: 80%;

	&__inner {
		padding: 2rem;
		display: flex;

		.svg-icon {
			flex: 0 0 2.5em;
			height: 2.5em;
			color: var(--color-main);
		}

		.text {
			padding-left: 1em;
			flex: 1;

			p {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
/*end page story*/


/*page category*/
.category{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@include r(767){
		flex-wrap: wrap;
	}
	@include rmin(768){
		gap: 4rem;
	}
	&__left{
		flex: 1;

	}
	&__right{
		flex: 0 0 40%;
		@include r(767){
			flex: 1 1 100%;
		}
	}
}
/*end page category*/



// page events
.events{
	@extend %reset-list;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
	margin-top: 4rem;
	margin-bottom: 8rem;
	@include rIn(768,1023){
		grid-template-columns: repeat(3, 1fr);
	}
	@include r(767){
		grid-template-columns: 1fr;
	}
	&__item{
		&:hover{
			figure img{
				transform: scale(1.25) rotate(2deg);
			}
		}
	}
	&__link{
		text-decoration: none;
	}
	figure{
		margin: 0;
		position: relative;
		@include aspect-ratio(420,310);
		overflow: hidden;
		img{
			object-fit: cover;
			object-position: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: all ease-in-out .4s;
		}
	}
	&__title{
		margin-top: 0.4em;
		text-align: center;
	}
}

// end page events
