#audio-player-container.audio-player
	.audio-player__inner
		audio.audio-player__hidden(src='https://assets.codepen.io/4358584/Anitek_-_Komorebi.mp3' preload='metadata' loop='')
		h4.audio-player__title Слухати аудіо
		.audio-player__controls
			.audio-player__controls-top
				.audio-player__slider.audio-player__slider_track
					span#current-time.time 0:00
					input#seek-slider(type='range' max='100' value='0')
					span#duration.time 0:00
				.audio-player__volume
					.audio-player__slider.audio-player__slider_volume
						input#volume-slider(type='range' max='100' value='100')
						output#volume-output 100
					button#mute-icon.audio-player__mute
						+icon('volume').icon-volume
						+icon('mute').icon-mute


			button#play-icon.audio-player__play
				+icon('play').icon-play
				+icon('pause').icon-pause
