extends ./layout/main.pug

block content
	main.main
		.page-content
			section
				.container
					.category
						.category__left
							+breadcrumbs([{name: 'Весілля'}])
							h1 Весілля
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, aliquam! Sapiente dolorem suscipit, aperiam, deleniti reprehenderit commodi, id hic minima eos labore aliquid harum sint perferendis odio itaque eveniet architecto.
							p ipsum dolor sit amet consectetur adipisicing elit. Enim, aliquam! Sapiente dolorem suscipit, aperiam, deleniti reprehenderit commodi, id

						.category__right
							-
								let figureImg= {
									name:   "demo2",
									ext:    'jpg',
									w:      765,
									h:      581,
									figcap: 'Микола Бодаревський. “Весілля”.'
								}
							+figureImg(figureImg)


			+rubricator()
