extends ./layout/main.pug

block variables
	- headerType = 'folklore';
	- headerClass = 'header_folklore header_folklore-transparent';
	- layoutClass = 'layout_main--noGap layout_main--old';


block content




	main.main
		.homePage
			+articlesIntro()
			.container.container_old
				//- +audio('https://www.folklore.kh.ua/uploads/sounds/5ddfbbfce83761.01958452.mp3', false, true)

				.homePage__info.page-info
					.page-info__item
						+icon('note').icon-note
						.text
							.top Пісень:
							.bottom 1282
					.page-info__item
						+icon('genre').icon-note
						.text
							.top Жанрів:
							.bottom 21
					.page-info__item
						+icon('singer').icon-note
						.text
							.top Виконавців::
							.bottom 102
					.page-info__item
						+icon('place').icon-note
						.text
							.top Населених пунктів:
							.bottom 53

				+finder()


				.homePage__sounds.hps
					.hps__inner

						.hps__sorting
							.hps__sorting-label Сортувати за:
							.hps__sorting-btns
								.hps__sorting-mobileSelect
									-
										var sortingMobileSelect = {
											id: 'sortingMobile',
											searchable: false,
											defaultSelected: false,
											placeholder: '',
											multiple: false,
											arr: [
												{
													"value": "latest",
													"text": "Останні додані"
												},
												{
													"value": "editorialChoice",
													"text": "Вибір редакції"
												},
												{
													"value": "userChoice",
													"text": "Вибір користувачів"
												},
												{
													"value": "listens",
													"text": "Кількість прослуховувань"
												},
												{
													"value": "alphabet",
													"text": "За алфовітом"
												},

											],
										}
									+customSelect(sortingMobileSelect).js-custom-select.wide(id=sortingMobileSelect.id)
								a.hps__sorting-btn(href="#", aria-label="button show editorial choice")  Вибір редакції
								a.hps__sorting-btn(href="#", aria-label="button show user choice")  Вибір користувачів
								a.hps__sorting-btn(href="#", aria-label="button show number of listens")  Кількість прослуховувань
								a.hps__sorting-btn(href="#", aria-label="sort by Alphabetical order")  За алфовітом
								a.hps__sorting-btn.hps__sorting-btn--active(href="#", aria-label="button show Latest added")  Останні додані

								label.btn.btn_transparent.btn_checkbox(aria-label="button show all")
									input(type="checkbox")
									span.text Показати всі варіанти


						-
							let listSongs = [
								{
									name: 'Серед двору, двору',
									genre: ['Щедрівка'],
									place: 'с. Велика Гомільша, Зміївський район',
									duration: '03:37',
									audio: 'https://www.folklore.kh.ua/uploads/sounds/5e021b4f06e7b0.67635320.mp3',
									text: 'Серед двору, двору стояла бірьоза,<br> Щедрий вечір, добрий вечір!  А на тій бірьозі дзіндзірьова кора,<br> Щедрий вечір, добрий вечір!  Дзіндзірьова кора, золотеє гілля,<br> Щедрий вечір, добрий вечір!  Золотеє гілля, сріблеє листя,<br> Щедрий вечір, добрий вечір!  Сріблеє листя, зеленеє трава,<br> Щедрий вечір, добрий вечір!  Зеленеє трава, червонеє калина,<br> Щедрий вечір, добрий вечір!  Червонеє калина, білеє цвітя,<br> Щедрий вечір, добрий вечір!  Білеє цвітя, червонеє яблуко,<br> Щедрий вечір, добрий вечір!  Червонеє яблуко, зеленеє груша,<br> Щедрий вечір, добрий вечір!  Зеленеє груша, жовтеє горіх,<br> Щедрий вечір, добрий вечір!  Жовтеє горіх, чорнеє земля,<br> Щедрий вечір, добри',
									note: true
								},
								{
									name: 'Ой та й  з-за гори, ой та й з-за кручі (фрагмент)',
									genre: ['Пісні з особистого та родинного життя', 'Козацька', 'Чумацька'],
									place: 'с. Велика Гомільша, Зміївський район',
									duration: '03:37',
									audio: 'https://www.folklore.kh.ua/uploads/sounds/5d9dced8287ae2.41725692.mp3',
									text: false,
									note: true
								},

								{
									name: 'Туман поле покриває',
									genre: ['Пісні з особистого та родинного життя'],
									place: 'с. Матяшівка, кут Ліски, Великобагачанський район, Полтавська обл., Україна, Полтавщина',
									duration: '02:00',
									audio: 'https://folklore.kh.ua/uploads/sounds/5d9de308e707b8.50373673.mp3',
									text: "<p>Туман поле покриває,<br>Ай туман поле та все покриває,<br>Ой сиз голубонько літає.</p><p>Сиз голубонько літає,<br>А він літає та все буркотає,<br>Ай усе крилечками блудить.</p><p>Та все крилечками блудить,<br>Ай тяжко-важко ой та на серденьку, <br>Ой ой хто кого ой вірно любить.</p><p>(Кого вірно любить,<br>Ай по-під мостом та все трава ростом,<br>Щука риба лина гонить.</p><p>А то ж риба, то не щука,<br>То з милим дружком розлука.</p><p>Розлучила нас неволя,<br>Чужадальная сторона.)</p>",
									note: false
								},
								{
									name: 'Чорноморець, маменько, ой чорноморець',
									genre: ['Пісні з особистого та родинного життя'],
									place: 'с. Басове, Золочівський район, Харківська обл., Україна, Слобожанщина',
									duration: '02:02',
									audio: 'https://folklore.kh.ua/uploads/sounds/5de4dd49235c56.96246902.mp3',
									text: false,
									note: false
								},

							]

						+musicTable(listSongs, 0, true)

						.homePage-map
							h3 Місця запису

							.map
								#map_sidebar.map-sidebar
									.map-sidebar__img
										img#mapSidebar-img(src='assets/img/ornaments/1.jpg' alt='' width='960' height='960')
									.map-sidebar__info
										h6.map-sidebar__title#mapSidebar-title
											i с. Задонецьке, Зміївський район, Харківська Область
										div Виконавців: #[span#mapSidebar-recordsBy]
										div Записів: #[span#mapSidebar-sounds]
										.result__link
											a#mapSidebar-filterLink(href='#')
												span Знайти всі
												+icon('arrow-right')


								#mapFilter.googleMap.js-map-songs(data-points="map-points")

						.hps__info
							p «Пісні Слобідської України» - це репринтне перевидання першої на Лівобережжі України фонографічної збірки. З появою фонографа відкрилися нові можливості для фіксації фактурного обсягу народних пісень, характеру варіантних змін у тексті пісні. Вони розглядаються вже не тільки з естетичного загальнокультурного кута зору, але і як фактологічний матеріал для етнографічних, діалектологічних та історичних досліджень згідно з музично-стильовими особливостями та ритмо-структурною типологією цього жанру фольклору.
							p До збірки «Фольклорні осередки Харківщини» увійшли зразки українського та російського обрядового фольклору, записаного у селах Балаклійського, Великобурлуцького, Ізюмського та Первомайського районів Харківської області впродовж останньої чверті ХХ століття. Більшість представлених матеріалів зібрана співробітниками Харківського обласного центру народної творчості.
