extends ./layout/main.pug

block variables
	- headerType = 'folklore';
	- headerClass = 'header_folklore header_folklore-transparent';
	- layoutClass = 'layout_main--noGap layout_main--old';


block content




	main.main
		.homePage
			+articlesIntro()
			.container.container_old
				.homePage__info.page-info
					.page-info__item
						+icon('note').icon-note
						.text
							.top Пісень:
							.bottom 1282
					.page-info__item
						+icon('genre').icon-note
						.text
							.top Жанрів:
							.bottom 21
					.page-info__item
						+icon('singer').icon-note
						.text
							.top Виконавців::
							.bottom 102
					.page-info__item
						+icon('place').icon-note
						.text
							.top Населених пунктів:
							.bottom 53

				+finder()


				.homePage__sounds.hps
					.hps__inner
						.hps__sorting
							.hps__sorting-label Сортувати за:
							.hps__sorting-btns
								a.hps__sorting-btn(href="#")  Вибір редакції
								a.hps__sorting-btn(href="#")  Вибір користувачів
								a.hps__sorting-btn(href="#")  Кількість прослуховувань
								a.hps__sorting-btn(href="#")  За алфовітом
								a.hps__sorting-btn.hps__sorting-btn--active(href="#")  Останні додані
							//- .hps__sorting-all
							//- 	a(href="#")  Показати всі

						table.hps__table
							thead.hps__thead
								tr.hps__tr
									th.hps__th Назва
									th.hps__th Жанр
									th.hps__th Місце
									th.hps__th Трив
									th.hps__th Аудіо
									th.hps__th Текст
									th.hps__th Ноти
							tbody.hps__tbody
								tr.hps__tr
									td.hps__td Серед двору, двору
									td.hps__td
										span Щедрівка

									td.hps__td с. Велика Гомільша, Зміївський район
									td.hps__td 03:37
									td.hps__td.hps__td--audio
										.hps__player
											button.hps__player-btn.hps__player-btn--play
												+icon('play').icon-play
											button.hps__player-btn.hps__player-btn--stop
												+icon('pause').icon-play
										.player

									td.hps__td
										+iconWithTooltip('text','Текст')
											p Серед двору, двору стояла бірьоза,#[br] Щедрий вечір, добрий вечір!  А на тій бірьозі дзіндзірьова кора,#[br] Щедрий вечір, добрий вечір!  Дзіндзірьова кора, золотеє гілля,#[br] Щедрий вечір,...
									td.hps__td
										+icon('note').icon-note
								tr.hps__tr
									td.hps__td Ой та й  з-за гори, ой та й з-за кручі (фрагмент)
									td.hps__td
										span Пісні з особистого та родинного життя
										+iconWithTooltip('text:2','Козацька, Чумацька')
											p Козацька, Чумацька

									td.hps__td с. Велика Гомільша, Зміївський район
									td.hps__td 03:37
									td.hps__td.hps__td--audio
										.hps__player
											button.hps__player-btn.hps__player-btn--play
												+icon('play').icon-play
											button.hps__player-btn.hps__player-btn--stop
												+icon('pause').icon-play
										.player

									td.hps__td
										+iconWithTooltip('text','Текст')
											p Серед двору, двору стояла бірьоза,#[br] Щедрий вечір, добрий вечір!  А на тій бірьозі дзіндзірьова кора,#[br] Щедрий вечір, добрий вечір!  Дзіндзірьова кора, золотеє гілля,#[br] Щедрий вечір,...
									td.hps__td
										+icon('note').icon-note

						.hps__pagination
							ul.pagination
								li.pagination__item
									a.pagination__link.pagination__link--active(href="#")  Перша
								li.pagination__item
									a.pagination__link(href="#")  2
								li.pagination__item
									a.pagination__link(href="#")  3
								li.pagination__item
									.pagination__link.pagination__link--dots(href="#")  ....
								li.pagination__item
									a.pagination__link(href="#")  67
								li.pagination__item
									a.pagination__link(href="#")  68
								li.pagination__item
									a.pagination__link(href="#")  Остання

						.hps__info
							p «Пісні Слобідської України» - це репринтне перевидання першої на Лівобережжі України фонографічної збірки. З появою фонографа відкрилися нові можливості для фіксації фактурного обсягу народних пісень, характеру варіантних змін у тексті пісні. Вони розглядаються вже не тільки з естетичного загальнокультурного кута зору, але і як фактологічний матеріал для етнографічних, діалектологічних та історичних досліджень згідно з музично-стильовими особливостями та ритмо-структурною типологією цього жанру фольклору.
							p До збірки «Фольклорні осередки Харківщини» увійшли зразки українського та російського обрядового фольклору, записаного у селах Балаклійського, Великобурлуцького, Ізюмського та Первомайського районів Харківської області впродовж останньої чверті ХХ століття. Більшість представлених матеріалів зібрана співробітниками Харківського обласного центру народної творчості.
