extends ./layout/main.pug

block variables
	- headerType = 'folklore';
	- headerClass = 'header_folklore';
	- layoutClass = 'layout_main--old';


block content
	main.main
		.container.container_old
			.page-content
				section
					+breadcrumbs([{name: 'Назва пісні'}])
					h1 Назва пісні

					.history__container
						.history__left
							.song-table__wrapper
								table.song-table
									tr
										th Назва
										td Краков'як
									tr
										th Жанр
										td
											a(href='/?q%5Bgenre_ids%5D%5B%5D=4') Пісні з особистого та родинного життя
											| ,
											a(href='/?q%5Bgenre_ids%5D%5B%5D=5') Козацька

									tr
										th Мотив
										td
											a(href='/?q%5Bmotive_ids%5D%5B%5D=30') Смерть
											| ,
											a(href='/?q%5Bmotive_ids%5D%5B%5D=34') Чужина

									tr
										th Дата запису
										td 17 бер. 1991 р.

									tr
										th Місце запису
										td
											a(href="/?q%5Bcity_ids%5D%5B%5D=4") с. Терни, Лубенський район, Полтавська обл., Україна, Полтавщина
									tr
										th Виконавці
										td
											a(href='/?q%5Brecord_by_ids%5D=10') Карпова Марія Федорівна (1919)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=11') Шаманенко Ганна Федорівна (1919)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=79') Любич Марія Митрофанівна (1927)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=80') Любич Марія Павлівна (1920)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=81') Малешко Ганна Єгорівна (1924)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=82') Маніца Дарія Павлівна (1927)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=83') Науменко Ганна Володимирівна (1931)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=84') Шаповал Марія Федосіївна (1927)


									tr
										th Збирачi
										td  Н. П. Олійник, Г. В. Лук'янець
									tr
										th Транскрипція
										td Юлія Лузан

									tr
										th Ноти
										td
											a(href="https://www.folklore.kh.ua/uploads/notes/5dd67c8a965559.02784903.pdf" download).uploadLink
												+icon('download').icon-download
												span Завантажити файл PDF
									tr
										th Інше
										td
											a(href="https://www.folklore.kh.ua/uploads/notes/5dd67c8a965559.02784903.pdf" download).uploadLink
												+icon('download').icon-download
												span Завантажити файл PDF

							+audio('https://www.folklore.kh.ua/uploads/sounds/5ddfbbfce83761.01958452.mp3', true)

							.song-likes
								a(href="https://www.folklore.kh.ua/uploads/sounds/5de51f5545c4f6.61806895.mp3" download).btn.btn_transparent.like-btn
									+icon('download').icon-download
									span Завантажити запис

								span.like-count
									span 43

								a(href="#").btn.btn_like-orange.like-btn
									+icon('like')
									span Подобається

								a(href="https://www.facebook.com/sharer/sharer.php?u=https://www.folklore.kh.ua/site/track?id=950").btn.btn_like-blue.like-btn
									+icon('facebook')
									span Поділитися

							img(src="https://www.folklore.kh.ua/uploads/photo/5e2700e1915914.97045758.jpg", alt="")


						.history__right
							.word-container
								p
									| Із-за гори сонце сяє,
									br
									| Козак коника сідлає (ж),
									br
									| А дівчина горко плаче.
								p
									| Та дівчина горко плаче:
									br
									| "Не їдь, серце, козаче,
									br
									| Ой я й умру за тобою.
								p
									| Та бо я ж умру за тобою,
									br
									| За твоєю красотою,
									br
									| Молоденький козаченько".
								p
									| Та питалася дівка красна
									br
									| Молодого козаченька:
									br
									| "А де будем ночувати?".
								p
									| "Та єсть у полі скирта сіна,
									br
									| А то ж наша постіль біла,
									br
									| Молодая дівчинонька".
								p
									| Та питалася дівка красна
									br
									| Молодого козаченька:
									br
									| "А шо будем вечеряти?".
								p
									| "Та шо я буду їсти булку,
									br
									| А ти, дівко, думай думку,
									br
									| Молодая дівчинонька".
								p
									| Та питалася дівка красна
									br
									| Молодого козаченька:
									br
									| "А чим будем укриваться?".
								p
									| "Мене вкриє чорна хмара,
									br
									| Тебе вкриє людська слава,
									br
									| Молодая дівчинонька".

					.hs-disclaimer
						.hs-disclaimer__inner
							+icon('disclaimer')
							.text
								p Редакція сайту ставиться з повагою до всіх етнічних і релігійних груп. Також ми розуміємо погляди прихильників мовного пуризму. Публікація образливих або лайливих слів є необхідністю задля збереження фольклорних матеріалів у тому вигляді, в якому вони побутували на момент запису.

					.homePage__sounds.hps(style="--mt: 20;")
						.hps__inner
							h2 Варіанти виконання та схожі пісні:
							-
								let listSongs = [
									{
										name: 'Серед двору, двору',
										genre: ['Щедрівка'],
										place: 'с. Велика Гомільша, Зміївський район',
										duration: '03:37',
										audio: 'https://www.folklore.kh.ua/uploads/sounds/5e021b4f06e7b0.67635320.mp3',
										text: 'Серед двору, двору стояла бірьоза,<br> Щедрий вечір, добрий вечір!  А на тій бірьозі дзіндзірьова кора,<br> Щедрий вечір, добрий вечір!  Дзіндзірьова кора, золотеє гілля,<br> Щедрий вечір, добрий вечір!  Золотеє гілля, сріблеє листя,<br> Щедрий вечір, добрий вечір!  Сріблеє листя, зеленеє трава,<br> Щедрий вечір, добрий вечір!  Зеленеє трава, червонеє калина,<br> Щедрий вечір, добрий вечір!  Червонеє калина, білеє цвітя,<br> Щедрий вечір, добрий вечір!  Білеє цвітя, червонеє яблуко,<br> Щедрий вечір, добрий вечір!  Червонеє яблуко, зеленеє груша,<br> Щедрий вечір, добрий вечір!  Зеленеє груша, жовтеє горіх,<br> Щедрий вечір, добрий вечір!  Жовтеє горіх, чорнеє земля,<br> Щедрий вечір, добри',
										note: true
									},
									{
										name: 'Ой та й  з-за гори, ой та й з-за кручі (фрагмент)',
										genre: ['Пісні з особистого та родинного життя', 'Козацька', 'Чумацька'],
										place: 'с. Велика Гомільша, Зміївський район',
										duration: '03:37',
										audio: 'https://www.folklore.kh.ua/uploads/sounds/5d9dced8287ae2.41725692.mp3',
										text: false,
										note: true
									},

									{
										name: 'Туман поле покриває',
										genre: ['Пісні з особистого та родинного життя'],
										place: 'с. Матяшівка, кут Ліски, Великобагачанський район, Полтавська обл., Україна, Полтавщина',
										duration: '02:00',
										audio: 'https://folklore.kh.ua/uploads/sounds/5d9de308e707b8.50373673.mp3',
										text: "<p>Туман поле покриває,<br>Ай туман поле та все покриває,<br>Ой сиз голубонько літає.</p><p>Сиз голубонько літає,<br>А він літає та все буркотає,<br>Ай усе крилечками блудить.</p><p>Та все крилечками блудить,<br>Ай тяжко-важко ой та на серденьку, <br>Ой ой хто кого ой вірно любить.</p><p>(Кого вірно любить,<br>Ай по-під мостом та все трава ростом,<br>Щука риба лина гонить.</p><p>А то ж риба, то не щука,<br>То з милим дружком розлука.</p><p>Розлучила нас неволя,<br>Чужадальная сторона.)</p>",
										note: false
									},
									{
										name: 'Чорноморець, маменько, ой чорноморець',
										genre: ['Пісні з особистого та родинного життя'],
										place: 'с. Басове, Золочівський район, Харківська обл., Україна, Слобожанщина',
										duration: '02:02',
										audio: 'https://folklore.kh.ua/uploads/sounds/5de4dd49235c56.96246902.mp3',
										text: false,
										note: false
									},

								]

							+musicTable(listSongs, 0)



							h2 Можливо, вам також сподобаються:
							+musicTable(listSongs, 1)
