extends ./layout/main.pug

block variables
	- headerType = 'folklore';
	- headerClass = 'header_folklore';
	- layoutClass = 'layout_main--old';


block content
	main.main
		.container.container_old
			.page-content
				section
					+breadcrumbs([{name: 'Назва пісні'}])
					h1 Назва пісні

					.history__container
						.history__left
							.song-table__wrapper
								table.song-table
									tr
										th Назва
										td Краков'як
									tr
										th Жанр
										td
											a(href='/?q%5Bgenre_ids%5D%5B%5D=4') Пісні з особистого та родинного життя
											| ,
											a(href='/?q%5Bgenre_ids%5D%5B%5D=5') Козацька

									tr
										th Мотив
										td
											a(href='/?q%5Bmotive_ids%5D%5B%5D=30') Смерть
											| ,
											a(href='/?q%5Bmotive_ids%5D%5B%5D=34') Чужина

									tr
										th Дата запису
										td 17 бер. 1991 р.

									tr
										th Місце запису
										td
											a(href="/?q%5Bcity_ids%5D%5B%5D=4") с. Терни, Лубенський район, Полтавська обл., Україна, Полтавщина
									tr
										th Виконавці
										td
											a(href='/?q%5Brecord_by_ids%5D=10') Карпова Марія Федорівна (1919)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=11') Шаманенко Ганна Федорівна (1919)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=79') Любич Марія Митрофанівна (1927)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=80') Любич Марія Павлівна (1920)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=81') Малешко Ганна Єгорівна (1924)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=82') Маніца Дарія Павлівна (1927)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=83') Науменко Ганна Володимирівна (1931)
											| ,
											a(href='/?q%5Brecord_by_ids%5D=84') Шаповал Марія Федосіївна (1927)


									tr
										th Збирачi
										td  Н. П. Олійник, Г. В. Лук'янець
									tr
										th Транскрипція
										td Юлія Лузан

									tr
										th Ноти
										td
											a(href="https://www.folklore.kh.ua/uploads/notes/5dd67c8a965559.02784903.pdf" download).uploadLink
												+icon('download').icon-download
												span Завантажити файл PDF
									tr
										th Інше
										td
											a(href="https://www.folklore.kh.ua/uploads/notes/5dd67c8a965559.02784903.pdf" download).uploadLink
												+icon('download').icon-download
												span Завантажити файл PDF

							+audio('https://www.folklore.kh.ua/uploads/sounds/5ddfbbfce83761.01958452.mp3', true)

							.song-likes
								a(href="https://www.folklore.kh.ua/uploads/sounds/5de51f5545c4f6.61806895.mp3" download).btn.btn_transparent.like-btn
									+icon('download').icon-download
									span Завантажити запис

								span.like-count
									span 43

								a(href="#").btn.btn_like-orange.like-btn
									+icon('like')
									span Подобається

								a(href="https://www.facebook.com/sharer/sharer.php?u=https://www.folklore.kh.ua/site/track?id=950").btn.btn_like-blue.like-btn
									+icon('facebook')
									span Поділитися

							img(src="https://www.folklore.kh.ua/uploads/photo/5e2700e1915914.97045758.jpg", alt="")


						.history__right
							.song-translation.js-song-translation
								.song-translation__btns
									button.btn.btn_main.song-translation__btn(data-lang="uk") Original
									button.btn.btn_gray.song-translation__btn(data-lang="uk-translit") Translit
									button.btn.btn_gray.song-translation__btn(data-lang="usa")
										i.icon-chat
										span AI Translation
								.song-translation__body
									.word-container.js-word-container
										p
											| Із-за гори сонце сяє,
											br
											| Козак коника сідлає (ж),
											br
											| А дівчина горко плаче.
										p
											| Та дівчина горко плаче:
											br
											| "Не їдь, серце, козаче,
											br
											| Ой я й умру за тобою.
										p
											| Та бо я ж умру за тобою,
											br
											| За твоєю красотою,
											br
											| Молоденький козаченько".
										p
											| Та питалася дівка красна
											br
											| Молодого козаченька:
											br
											| "А де будем ночувати?".
										p
											| "Та єсть у полі скирта сіна,
											br
											| А то ж наша постіль біла,
											br
											| Молодая дівчинонька".
										p
											| Та питалася дівка красна
											br
											| Молодого козаченька:
											br
											| "А шо будем вечеряти?".
										p
											| "Та шо я буду їсти булку,
											br
											| А ти, дівко, думай думку,
											br
											| Молодая дівчинонька".
										p
											| Та питалася дівка красна
											br
											| Молодого козаченька:
											br
											| "А чим будем укриваться?".
										p
											| "Мене вкриє чорна хмара,
											br
											| Тебе вкриє людська слава,
											br
											| Молодая дівчинонька".
									.preloader-container
									.error-container
										i.error-img
										.error-title Oops!
										.error-text Our AI is currently busy plotting world domination. Please try again later for your folklore translation needs.

							#hidden-container.song-translation.js-song-translation
					.hs-disclaimer
						.hs-disclaimer__inner
							+icon('disclaimer')
							.text
								p Редакція сайту ставиться з повагою до всіх етнічних і релігійних груп. Також ми розуміємо погляди прихильників мовного пуризму. Публікація образливих або лайливих слів є необхідністю задля збереження фольклорних матеріалів у тому вигляді, в якому вони побутували на момент запису.

					.homePage__sounds.hps(style="--mt: 20;")
						.hps__inner
							h2 Варіанти виконання та схожі пісні:
							-
								let listSongs = [
									{
										name: 'Серед двору, двору',
										genre: ['Щедрівка'],
										place: 'с. Велика Гомільша, Зміївський район',
										duration: '03:37',
										audio: 'https://www.folklore.kh.ua/uploads/sounds/5e021b4f06e7b0.67635320.mp3',
										text: 'Серед двору, двору стояла бірьоза,<br> Щедрий вечір, добрий вечір!  А на тій бірьозі дзіндзірьова кора,<br> Щедрий вечір, добрий вечір!  Дзіндзірьова кора, золотеє гілля,<br> Щедрий вечір, добрий вечір!  Золотеє гілля, сріблеє листя,<br> Щедрий вечір, добрий вечір!  Сріблеє листя, зеленеє трава,<br> Щедрий вечір, добрий вечір!  Зеленеє трава, червонеє калина,<br> Щедрий вечір, добрий вечір!  Червонеє калина, білеє цвітя,<br> Щедрий вечір, добрий вечір!  Білеє цвітя, червонеє яблуко,<br> Щедрий вечір, добрий вечір!  Червонеє яблуко, зеленеє груша,<br> Щедрий вечір, добрий вечір!  Зеленеє груша, жовтеє горіх,<br> Щедрий вечір, добрий вечір!  Жовтеє горіх, чорнеє земля,<br> Щедрий вечір, добри',
										note: true
									},
									{
										name: 'Ой та й  з-за гори, ой та й з-за кручі (фрагмент)',
										genre: ['Пісні з особистого та родинного життя', 'Козацька', 'Чумацька'],
										place: 'с. Велика Гомільша, Зміївський район',
										duration: '03:37',
										audio: 'https://www.folklore.kh.ua/uploads/sounds/5d9dced8287ae2.41725692.mp3',
										text: false,
										note: true
									},

									{
										name: 'Туман поле покриває',
										genre: ['Пісні з особистого та родинного життя'],
										place: 'с. Матяшівка, кут Ліски, Великобагачанський район, Полтавська обл., Україна, Полтавщина',
										duration: '02:00',
										audio: 'https://folklore.kh.ua/uploads/sounds/5d9de308e707b8.50373673.mp3',
										text: "<p>Туман поле покриває,<br>Ай туман поле та все покриває,<br>Ой сиз голубонько літає.</p><p>Сиз голубонько літає,<br>А він літає та все буркотає,<br>Ай усе крилечками блудить.</p><p>Та все крилечками блудить,<br>Ай тяжко-важко ой та на серденьку, <br>Ой ой хто кого ой вірно любить.</p><p>(Кого вірно любить,<br>Ай по-під мостом та все трава ростом,<br>Щука риба лина гонить.</p><p>А то ж риба, то не щука,<br>То з милим дружком розлука.</p><p>Розлучила нас неволя,<br>Чужадальная сторона.)</p>",
										note: false
									},
									{
										name: 'Чорноморець, маменько, ой чорноморець',
										genre: ['Пісні з особистого та родинного життя'],
										place: 'с. Басове, Золочівський район, Харківська обл., Україна, Слобожанщина',
										duration: '02:02',
										audio: 'https://folklore.kh.ua/uploads/sounds/5de4dd49235c56.96246902.mp3',
										text: false,
										note: false
									},

								]

							+musicTable(listSongs, 0)



							h2 Можливо, вам також сподобаються:
							+musicTable(listSongs, 1)


	script.
		// Function for transliteration from Ukrainian to Latin
		function transliterate(text) {
			const translitMap = {
				'А': 'A', 'Б': 'B', 'В': 'V', 'Г': 'H', 'Ґ': 'G', 'Д': 'D', 'Е': 'E', 'Є': 'Ye', 'Ж': 'Zh',
				'З': 'Z', 'И': 'Y', 'І': 'I', 'Ї': 'Yi', 'Й': 'Y', 'К': 'K', 'Л': 'L', 'М': 'M', 'Н': 'N',
				'О': 'O', 'П': 'P', 'Р': 'R', 'С': 'S', 'Т': 'T', 'У': 'U', 'Ф': 'F', 'Х': 'Kh', 'Ц': 'Ts',
				'Ч': 'Ch', 'Ш': 'Sh', 'Щ': 'Shch', 'Ю': 'Yu', 'Я': 'Ya',
				'а': 'a', 'б': 'b', 'в': 'v', 'г': 'h', 'ґ': 'g', 'д': 'd', 'е': 'e', 'є': 'ie', 'ж': 'zh',
				'з': 'z', 'и': 'y', 'і': 'i', 'ї': 'i', 'й': 'i', 'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n',
				'о': 'o', 'п': 'p', 'р': 'r', 'с': 's', 'т': 't', 'у': 'u', 'ф': 'f', 'х': 'kh', 'ц': 'ts',
				'ч': 'ch', 'ш': 'sh', 'щ': 'shch', 'ю': 'iu', 'я': 'ia',
				'ь': '', '’': '', 'ʼ': '', 'ъ': '', 'Ь': '', 'Ъ': ''
			};
			return text.split('').map(char => translitMap[char] || char).join('');
		}

		// Function for text fade-in effect
		function fadeInText(element, htmlText, callback) {
			element.innerHTML = ''; // Clear the element content
			let index = 0;
			const parser = new DOMParser();
			const doc = parser.parseFromString(htmlText, 'text/html');
			const parsedText = doc.body.innerHTML;
			const interval = setInterval(() => {
				element.innerHTML = parsedText.slice(0, index);
				index++;
				if (index > parsedText.length) {
					clearInterval(interval);
					if (callback) callback();
				}
			}, 10); // Speed of the letter display (ms)
		}

		// Function to handle button click
		function handleButtonClick(event) {
			const targetLang = event.target.getAttribute('data-lang');
			const translationBlock = event.target.closest('.js-song-translation');
			const wordContainer = translationBlock.querySelector('.js-word-container');

			// Block all buttons
			document.querySelectorAll('.song-translation__btn').forEach(btn => {
				btn.classList.add('disabled');
			});
			translationBlock.classList.remove('song-translation_error');

			// Switch button classes
			document.querySelectorAll('.song-translation__btn').forEach(button => {
				if (button.getAttribute('data-lang') === targetLang) {
					button.classList.add('btn_main');
					button.classList.remove('btn_gray');
				} else {
					button.classList.add('btn_gray');
					button.classList.remove('btn_main');
				}
			});

			//- const originalHeight = translationBlock.offsetHeight;
			//- translationBlock.style.minHeight = `30rem`; // Minimum height of 30rem
			translationBlock.classList.add('song-translation_waiting');

			const hiddenContainer = document.getElementById('hidden-container');
			let newText = '';
			if (targetLang === 'uk-translit') {
				hiddenContainer.innerHTML = originalContent; // Use original content
				hiddenContainer.querySelectorAll('p').forEach(p => {
					const content = p.innerHTML;
					p.innerHTML = transliterate(content);
				});
				//- if(hiddenContainer.offsetHeight > 30 * 16) {
				//- 	translationBlock.style.minHeight = `${hiddenContainer.offsetHeight}px`;
				//- }
				newText = hiddenContainer.innerHTML;
			} else if (targetLang === 'usa') {
				//- newText = "<p>AI Translation...</p>"; // Add your translation logic here
				translationBlock.classList.add('song-translation_preloader');
				setTimeout(() => {
					newText = "";
					translationBlock.classList.remove('song-translation_preloader');
					translationBlock.classList.remove('song-translation_waiting');
					translationBlock.classList.add('song-translation_error');

				}, 2000); // Simulate AI translation delay
			} else {
				newText = originalContent; // Use original content
			}

			fadeInText(wordContainer, newText, () => {
				// Calculate new height
				const newHeight = wordContainer.scrollHeight > 30 * 16 ? wordContainer.scrollHeight : 30 * 16; // 30rem in pixels
				//- translationBlock.style.minHeight = `${newHeight}px`;
				translationBlock.classList.remove('song-translation_waiting');

				// Unblock all buttons after fade-in effect is complete
				document.querySelectorAll('.song-translation__btn').forEach(btn => {
					btn.classList.remove('disabled');
				});
			});
		}

		// Save the original content on page load
		const originalContent = document.querySelector('.js-word-container').innerHTML;

		// Button click handler
		document.querySelectorAll('.song-translation__btn').forEach(button => {
			button.addEventListener('click', handleButtonClick);
		});
