extends ./layout/main.pug

block content
	main.main
		.page-content
			//- .container
			//- 	figure.highcharts-figure
			//- 		#container
			//- 		p.highcharts-description
			//- 			| Highcharts has extensive support for time series, and will adapt
			//- 			| intelligently to the input data. Click and drag in the chart to zoom in
			//- 			| and inspect the data.

			.container
				.page-title
					a.page-title__back(href="window.history.back()")
						+icon('arrow-back')
					h1 Як святкували купала


				.history
					.history__container
						.history__left
							.history__short.hs
								.hs__inner
									table.hs__table
										tr
											th  Рубрики:
											td
												span.hs__link
													a(href='#') Івана Купала
												+iconWithTooltip('search','Пошук')
													+breadcrumbs([{name: 'test', link: 'testLink'},{name: 'test2'}])
										tr
											th Населений пункт:
											td Село Михайлівка Котелевського району Полтавської області
										tr
											th Респонденти:
											td Таран М.М. (1936), Романюк Г.І. (1930)
										tr
											th Збирачі:
											td Лукʼянець Г.В.
										tr
											th Дата запису:
											td 28.07.2011
										tr
											th Транскриптор:
											td Гавриленко В.

							.history-colText
								+icon('text').icon
								span Текст збирача


							p Опис звичаїв. Івана Купала. Колись було таке, як ми були невеликими. Ходиш, ходиш – де та ягода? Хоть би на ж на Івана, на Марини та ягода поспіла. А вона то там, то там бура. Позриваєш ті ягоди, у бутилку, подавиш. Перед Іваном. Тоді в бутилку, сахарцю присипали трошки, закопали, шоб вона ж постояла. А тоді пішли цвіти рвать увечері. Дівчата ідуть. Роблять куклу, тоді на ту куклу чіпляємо квітки, вінок. І тоді у погріб становимо: завтра ж нести купать, на Йвана Купала нести.

							-
								let figureImg= {
									name:   "demo1",
									ext:    'jpg',
									w:      1040,
									h:      375,
									cls: 'w-100'
								}
							.img-shadow
								+figureImg(figureImg)

							p: strong(style='--pl:4') - Куклу з чого робили, яка вона?
							p Та ну голову там із тряпок, а то з трави, з сіна. Я знаю, шо з осоки робили таке, як щітка. Очі робили ж.
							p: strong(style='--pl:4') - А з чого очі?
							p Із ягід.
							p: strong(style='--pl:4') - А яка вона заввишки була, ця лялька?
							p Та яку хто зробе: хто велику, хто малу. Тоді гільку вирубуємо, в гільку ставляємо і несемо.
							p: strong(style='--pl:4') - Ляльку Іваном називали?
							p Їх же двоє: Іван і Марина. На одну гільку поставимо ж. Таку гільку кучеряву, шоб умістилися і хлопець і той. У цвітах.
							p: strong(style='--pl:4') - А сама гілка з чого?
							p Із верби. Топили ж, купали. Ішли співали.

						.history__right
							.map
								#mapSimple.googleMap(data-position="50.0474173,34.883056", title="Село Михайлівка Котелевського району Полтавської області")
								//- iframe(src="https://snazzymaps.com/embed/525427" width="100%" height="100%" style="border:none;")

							.hs-audio
								+audio('https://assets.codepen.io/4358584/Anitek_-_Komorebi.mp3', true)

							.hs-disclaimer
								.hs-disclaimer__inner
									+icon('disclaimer')
									.text
										p Редакція сайту ставиться з повагою до всіх етнічних і релігійних груп. Також ми розуміємо погляди прихильників мовного пуризму. Публікація образливих або лайливих слів є необхідністю задля збереження фольклорних матеріалів у тому вигляді, в якому вони побутували на момент запису.

				+relatedPost()
